---
import Layout from '../layouts/Layout.astro';
import Particles from '../components/Particles.astro';
import Hero from '../components/Hero.astro';
import CategoryGrid from '../components/CategoryGrid.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Particles />
  <main class="relative z-10">
    <Hero />
    <CategoryGrid />
    <About />
    <Contact />
    <Footer />
  </main>
</Layout>
